/.bundle/
/.yardoc
/_yardoc/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/coverage/.resultset.json
/coverage/.resultset.json.lock
/coverage/assets/
/coverage/index.html
/pkg
